<div class="all">
    <div class="uploadPart">

        <input #uploadInputElement type="file" 
        id="uploadImageInput"
        class="file-upload" accept="image/*" capture="user"
            (change)="onUploadImage($event)" 
            *ngIf="!isFromSteaming"
            style="display: none;"
            />
            <button mat-raised-button color="primary"
            *ngIf="!isFromSteaming"
            (click)="openCameraDialog();"
            >
        Start Take Image
        </button>
        
        <!-- <canvas #uploadCanvas id="uploadCanvas" ></canvas> -->
 
            <button mat-raised-button color="primary"
            *ngIf="!isProductionEnv"
    
            (click)="uploadWithoutCrop=false;clickInputUploadImage();"
            >
        Upload
        </button>

        <button mat-raised-button color="primary"
        *ngIf="!isProductionEnv"

        (click)="uploadWithoutCrop=true;clickInputUploadImage();"
        >
    Upload without auto-crop
    </button>
  </div>

    
    <!-- <img #selectedImage id="selectedImage" class="selectedImage" /> -->


    <!-- <canvas #outputCanvas id="outputCanvas" ></canvas>

    <button (click)="rotateControl(-1)">Left-R</button>
    <button (click)="rotateControl(1)">Right-R</button>
    
    <div class="resultCanvas" #resultCanvas ></div> -->
</div>