<div class="dialog">
  <div mat-dialog-content>
    <div class="canvasOuter">
      <!-- <img #drawerimg  style="display: none;"/> -->
      <canvas #uploadCanvas id="uploadCanvas1" style="display: none;"></canvas>
      <div class="canvasSets">
        <div class="cSet qrcodebox">
          <h2>QRCode Box</h2>
          <canvas #qrcodeBoxCanvas id="qrcodeBoxCanvas" style="display: none;" ></canvas>
          <img #qrcodeBoxImg style="width: 100%;" />


        </div>
        <div class="cSet">
          <h2>Name Box</h2>
          <canvas #nameboxCanvas id="nameboxCanvas" style="display: none;" ></canvas>
          <img #nameboxImg style="width: 100%;" />


        </div>
        <hr />
        <div class="cSet">
          <h2>Item Box 1</h2>
          <canvas #box1canvas id="box1canvas" style="display: none;"></canvas>
          <img #box1img style="width: 100%;" />
        </div>
        <hr />
        <div class="cSet">
          <h2>Item Box 2</h2>
          <canvas #box2canvas id="box2canvas" style="display: none;"></canvas>
          <img #box2img style="width: 100%;" />
        </div>
      </div>
    </div>
    <div class="discard" style="display: none;">
      <canvas #testMask id="testMask"></canvas>
      <canvas #cannyContrastBrightness id="cannyContrastBrightness"></canvas>
      <canvas #cannyEdge id="cannyEdge"></canvas>
      <canvas #cannyMask id="cannyMask"></canvas>
      <canvas #cannyResult id="cannyResult"></canvas></div>
  </div>

  <div mat-dialog-actions>
    <div class="flex">

      <!-- <button mat-button (click)="onNoClick()">Cancel</button> -->

      <button mat-button color="primary" cdkFocusInitial style="width: 100%;" (click)="uploadIt()">Upload</button>

    </div>
  </div>
</div>